[submodule "backend"]
path = backend
url = https://github.com/TheNipsAreGettingBigger/FARMACIA_BACKEND.git
[submodule "frontend"]
path = frontend
url = https://github.com/TheNipsAreGettingBigger/FARMACIA_FRONTEND.git
